<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Create a New Account</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="FirstName" placeholder="First name">
        <input type="text" name="LastName" placeholder="Last name"><br><br>
        <input type="email" name="email" placeholder="email"><br><br>
        <input type="password" name="pwd" placeholder="Password"><br><br>
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>