{% extends 'base.html' %}
{% block head %}
    <title>Login</title>
{% endblock %}
{% block body %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{ user_not_exist }}
            {{ incorrect_password }}
            {% for i in form %}
                <br>{{i}}<br>
            {% endfor %}
            <input type="submit" value="Login"><br><br>
            {% for i in object_list %}
                {{i.First_name }}
            {% endfor %}
        </form>
    </div>
{% endblock %}