<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flames</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'flames.css' %}" type="text/css">
</head>
<body>
    <div class="topright">{{Now}}</div>
    <div class=container>
        <h1><small>Find your Relationship.</small></h1>
        <div class="jumbotron">
            {% if error %}
                <p style="color: red;">Names shouldn't be empty, numbers or identical.</p>
            {% endif%}
            <h3>Enter the Names</h3>
            <form action="" method="get" enctype="multipart/form-data">
                <input type="text" class="form-control" name="name1" placeholder="Your Name">
                <br>
                <input type="text" class="form-control" name="name2" placeholder="Name of the other">
                <br>
                <input class="btn btn-default" type="submit" value="Submit" />
            </form>
        </div>
        {{MyName}}
        {{b}}
    </div>
</body>
</html>